parameters:
	level: 8
	paths:
		- src/
		- tests/
	ignoreErrors:
		-
			message: '#Parameter .+ expects .+, .+ given#'
			path: tests
		-
			message: '#Method.+jsonSerialize.+no value type specified in iterable type array.#'
			path: src
		-
			message: '#Call to method.+assertIsCallable.+will always evaluate to true#'
			path: tests

	checkUninitializedProperties: true

includes:
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon
