parameters:
	level: 8
	paths:
		- src/
		- tests/
	ignoreErrors:
		-
			message: '#Parameter .+ expects .+, .+ given#'
			path: tests
		-
			message: '#Method.+jsonSerialize.+no value type specified in iterable type array.#'
			path: src

	checkUninitializedProperties: true

	checkTooWideReturnTypesInProtectedAndPublicMethods: true
	reportAlwaysTrueInLastCondition: true
	reportPossiblyNonexistentConstantArrayOffset: true
	treatPhpDocTypesAsCertain: false
includes:
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon
	- tests/phpstan-conditional-config.php
